<div>
  <h2>Events I am attending</h2>
  <div class="grid">
  {{#each modifiedEvents}}
  <div class="grid__item">
      <img class="card__img"  src="images/background/1.jpg"/>
      <div class="card__content"> 
        <h3 class="card__header">{{this.title}}</h3>
        <p class="card__text">{{this.city}}</p>
        <p class="card__text">{{this.date}}</p>
        </div>
        <div class="flex">
        <button onclick="window.location='/allEvents/{{this._id}}'"> See More</button>
        <form action="/notAttendEvents" method="POST">
          <input type="hidden" name="id" value={{this._id}}>
          <button >Not attend</button>
        </form>
        </div>
      
  </div>
  {{/each}}
  </div>
</div>