<div>
  
  <h2>Event Details!</h2>
  <div class="seeMoreContainer">
    <div class="seeMoreCard">

      <h3> {{title}}</h3>
      <h2>{{city}}</h2>
      <h2> {{date}}</h2>
      <h2>{{description}}</h2> 
      {{#each attendees }}
        <p>
        {{this.userId.nickname}}
        </p>

      {{/each}}
    </div>
  </div>


    
       <form action="/allEvents" method="POST">
       <button class="attendButton">I want to attend!</button>
       <input type="hidden" name="eventId" value="{{_id}}"> 
       </form>
  

    {{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}
    
</div>