<div>
  <h2 class="h2-subtitles">Event Details!</h2>
  <div class="seeMoreContainer">
    <div><img src="/images/background/6.png"></div>
    <div class="seeMoreCard">
      <h2> {{title}}</h2>
      <p>{{city}}</p>
      <p> {{date}}</p>
      <p>{{description}}</p> 
      <p>Girls joining this event:</p>
      {{#each attendees }}
        <p> 
        {{this.userId.nickname}}
        </p>
      {{/each}}
    </div>
  </div>
       <form id="buttondetail" action="/allEvents" method="POST">
       <button class="attendButton">I want to attend!</button>
       <input type="hidden" name="eventId" value="{{_id}}"> 
       </form>
    {{#if errorMessage}}
  <p class="error-message">
    {{ errorMessage }}
  </p>
{{/if}}   
</div>